body { background: #7ca83f; }
header img { width: 17%; margin:1%; }
cite, button, input, textarea { display:block; }
cite { font-size:3.43vw; margin:-6ex 7em 0; }
button { font-size:2.32ex; margin:4ex auto; padding:.89ex .98em; text-align:center; }
* { color: #20211f; } 

div { background: pink; margin:2% auto 0; padding:2%; width:66%; }
label { font-size: 2.32vw; }
input, textarea { margin:-2.43ex auto 0; font-size: 2vw; width:60%; padding:1%; }
